<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>
    <link rel="stylesheet" href="/css/icon-font.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
<header>
    <img src="/imgs/logo_black.png" alt="Bryant TutorMe Logo" title="Bryant TutorMe Logo">
    <h1>Bryant Cabrera</h1>

<nav>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">
            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <% if (currentUser && currentUser.account === 'Tutor') { %>
                        <li class="navigation__item"><a href="/" class="navigation__link"><span>01</span>TutorMe</a></li>
                        <li class="navigation__item"><a href="/tutors/<%= currentUser._id %>" class="navigation__link"><span>02</span>My Profile</a></li>
                        <li class="navigation__item"><a href="/tutors/<%= currentUser._id %>/#students" class="navigation__link"><span>03</span>My Students</a></li>
                        <li class="navigation__item"><a href="/students" class="navigation__link index__login--btn"><span>04</span>StudentSearch</a></li>
                        <li class="navigation__item"><a href="/auth/logout" class="navigation__link index__register--btn"><span>05</span>LogOut</a></li>
                    <% } else if (currentUser && currentUser.account === 'Student') { %>
                        <li class="navigation__item"><a href="/" class="navigation__link"><span>01</span>TutorMe</a></li>
                        <li class="navigation__item"><a href="/students/<%= currentUser._id %>" class="navigation__link"><span>02</span>My Profile</a></li>
                        <li class="navigation__item"><a href="/students/<%= currentUser._id %>/#students" class="navigation__link"><span>03</span>My Tutors</a></li>
                        <li class="navigation__item"><a href="/tutors" class="navigation__link index__login--btn"><span>04</span>TutorSearch</a></li>
                        <li class="navigation__item"><a href="/auth/logout" class="navigation__link index__register--btn"><span>05</span>LogOut</a></li>
                    <% } else { %>
                        <li class="navigation__item"><a href="#video" class="navigation__link"><span>01</span>TutorMe</a></li>
                        <li class="navigation__item"><a href="#benefits" class="navigation__link"><span>02</span>Benfits</a></li>
                        <li class="navigation__item"><a href="#testimonials" class="navigation__link"><span>03</span>Testimonials</a></li>
                        <li class="navigation__item"><a href="#onboarding" class="navigation__link index__login--btn"><span>04</span>LogIn</a></li>
                        <li class="navigation__item"><a href="#onboarding" class="navigation__link index__register--btn"><span>05</span>SignUp</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>      
    </div>
</nav>
</header>