<%- include('./partials/header', { 
    title: 'TutorMe Home Page'
}); %>

<nav>
    <!--<ul>
        <li><a href="#" alt="Log-In Link" title="Log-In Link">Log-In</a></li>
        <li><a href="#" alt="Sign Up Link" title="Sign Up Link">Sign Up</a></li>
        <li><a href="#" alt="Contact Link" title="Contact Link">Contact</a></li>
    </ul>-->
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>
    
        <div class="navigation__background">
    
            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <% if (user && user.account === 'Tutor') { %>
                        <li class="navigation__item"><a href="/" class="navigation__link"><span>01</span>TutorMe</a></li>
                        <li class="navigation__item"><a href="/tutors/<%= user._id %>" class="navigation__link"><span>02</span>My Profile</a></li>
                        <li class="navigation__item"><a href="/tutors/<%= user._id %>/#students" class="navigation__link"><span>03</span>My Students</a></li>
                        <li class="navigation__item"><a href="/students" class="navigation__link index__login--btn"><span>04</span>Student Search</a></li>
                        <li class="navigation__item"><a href="/auth/logout" class="navigation__link index__register--btn"><span>05</span>LogOut</a></li>
                    <% } else { %>
                        <li class="navigation__item"><a href="#video" class="navigation__link"><span>01</span>TutorMe</a></li>
                        <li class="navigation__item"><a href="#benefits" class="navigation__link"><span>02</span>Benfits</a></li>
                        <li class="navigation__item"><a href="#testimonials" class="navigation__link"><span>03</span>Testimonials</a></li>
                        <li class="navigation__item"><a href="#onboarding" class="navigation__link index__login--btn"><span>04</span>LogIn</a></li>
                        <li class="navigation__item"><a href="#onboarding" class="navigation__link index__register--btn"><span>05</span>SignUp</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
        
    </div>
</nav>
</header>

<main>
    <section class="onboarding">
        <h1>Get Started</h1>
        <h2>Sign Up Today!</h2><br>

        <%= message %>

        <div class="index__register--form">
            <h2>Register</h2>
            <form action="/auth/registration" method="POST" accept-charset="etf-8">
            Account Type*: <select name="account">
                    <option value="Tutor">Tutor</option>
                    <option value="Student">Student</option>
                </select><br>
                Name*: <input type="text" name="name"><br>
                Email*: <input type="email" name="email"><br>
                Password*: <input type="password" name="password"><br>
                Rate*: <input type="text" name="rate"><br>
                Payment Info*: <input type="text" name="paymentInfo"><br>
                Location*: <input type="number" name="location"><br>
                <button type="submit" class="btn">Register</button>
            </form><br>
        </div>

        <div class="index__login--form">
            <h2>Login</h2>
            <form action="/auth/login" method="POST" accept-charset="etf-8">
                Account Type*: <select name="account">
                    <option value="Tutor">Tutor</option>
                    <option value="Student">Student</option>
                </select><br>
                Email*: <input type="email" name="email"><br>
                Password*: <input type="password" name="password"><br>
                <button type="submit" class="btn">Log In</button>
            </form>
        </div>

        <p class="index__login--text">
            Already a registered user? <a href="#" class="index__login--btn">LogIn</a>
        </p>

        <p class="index__register--text">
            Not registered yet? <a href="#" class="index__register--btn">Register</a>
        </p>

        
        
    </section>
    <section id="video">
    </section>
</main>

<section id="benefits">
</section>
<section id="testimonials">
    
</section>


<script>
$('.index__login--btn').on('click', function () {
    $('.index__login--form').css('display', 'block');
    $('.index__register--form').css('display', 'none');
    $('.index__login--text').css('display', 'none');
    $('.index__register--text').css('display', 'block');
});

$('.index__register--btn').on('click', function () {
    $('.index__login--form').css('display', 'none');
    $('.index__register--form').css('display', 'block');
    $('.index__login--text').css('display', 'block');
    $('.index__register--text').css('display', 'none');
});
</script>

<%- include('./partials/footer') %>