<%- include('../partials/header.ejs', { 
    title: `${student.name}'s Edit Page`
}); %>

<main class="students-edit">
    <h1><%= student.name %>'s Edit Page</h1>

    <form action="/students/<%= student._id %>?_method=PUT" method="POST" accept-charset="etf-8">
        Account Type*: <input type="text" name="account" value="<%= student.account %>" disabled><br>
        Name*: <input type="text" name="name" value="<%= student.name %>"><br>
        Email*: <input type="email" name="email" value="<%= student.email %>"><br>
        Payment Info*: <input type="text" name="paymentInfo" value="<%= student.paymentInfo %>"><br>
        Location*: <input type="number" minlength="5" maxlength="5" name="location" required title="Enter Zip Code" value="<%= student.location %>"><br>
        Age: <input type="number" name="age" value="<%= student.age %>"><br>
        Profile Picture URL: <input type="text" name="profilePicture" value="<%= student.profilePicture %>"><br>
        Subjects: <input type="text" name="subjects" value="<%= student.subjects %>" disabled><br>
        Description: <input type="text" name="description" value="<%= student.description %>"><br>
        <button type="submit" class="btn">Edit <%= student.name %></button>
    </form>
    <br>
    <br>

    <form action="/students/<%= student._id %>?_method=DELETE" method="POST" accept-charset="etf-8">
        <button type="submit" class="btn">Delete <%= student.name %></button>
    </form>
</main>

<%- include('../partials/footer.ejs') %>