<%- include('../partials/header.ejs', { 
    title: 'Students Index Page'
}); %>

<main class="users-index">
    <h1>Students Index Page</h1>

    <ul class="users-index__cards">
        <% students.forEach( student => { %>

            <div class="card users-index__card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--1">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span card__heading-span--1"><%= student.name %></span>
                    </h4>
                    <div class="card__details">
                        <ul>
                            <li>Email: <%= student.email %></li>
                            <li>Subjects: <%= student.subjects %></li>
                            <li><%= student.description %></li>
                        </ul>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <p class="card__price-only">Location</p>
                            <p class="card__price-value">$<%= student.location %> / hr</p>
                        </div>
                        <a href="/students/<%= student._id %>" class="btn btn--white">View Profile</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </ul>
</main>

<%- include('../partials/footer.ejs') %>