<%- include('../partials/header.ejs', { 
    title: `${student.name}'s Show Page`
}); %>

<main class="students-show">
    <div class="card students-show__card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--1">
                <img src="<%= student.profilePicture %>" alt="<%= student.name %>'s Profile Picture" title="<%= student.name %>'s Profile Picture" class="card__picture--profile"></img>
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1"><%= student.name %></span>
            </h4>
            <div class="card__details">
                <ul>
                    <li>Email: <%= student.email %></li>
                    <li>Age: <%= student.age %></li>
                    <li><%= student.description %></li>
                </ul>
            </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
            <div class="card__cta">
                <div class="card__price-box">
                    <p class="card__price-only">Location:</p>
                    <p class="card__price-value"><%= student.location %></p>
                </div>

                <% if (`${currentUser._id}` === `${student._id}`) { %>
                    <a href="/students/<%= student._id %>/edit" class="btn btn--white">Edit Page</a>
                <% } else { %>
                    <a href="mailto:<%= student.email %>?Subject=Interested%20in%20tutoring?" class="btn btn--white">Contact</a>
                <% } %>
            </div>
        </div>
    </div>

    <div id="stats" class="students-show__stats">
        <div class="show__title"><h2>Stats</h2></div>
        <b># Tutors:</b> <%= student.tutors.length %><br>
        <b>Ratings:</b> <%= student.rating %><br>
        <b>Subjects:</b> <%= student.subjects %><br>
        <b>Member Since:</b> <%= student.memberSince %><br>
        <b>Location:</b>
        <div id="map"></div>
    </div>

    <div id="schedule" class="students-show__schedule">
        <div class="show__title"><h2>Schedule</h2></div>
        Schedule API here?
    </div>

    <% if (`${currentUser._id}` === `${student._id}`) { %>
        <div id="students" class="students-show__current-students">
            <div class="show__title"><h2>My Tutors</h2></div>
            <ul class="users-index__cards">
            <% tutors.forEach( tutor => { %>
                    <div class="card users-index__card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">
                                <img src="<%= tutor.profilePicture %>" alt="<%= tutor.name %>'s Profile Picture" title="<%= tutor.name %>'s Profile Picture" class="card__picture--profile"></img>
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--1"><%= tutor.name %></span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>Email: <%= tutor.email %></li>
                                    <li>Subjects: <%= tutor.subjects %></li>
                                    <li><%= tutor.description %></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-1">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only">Location</p>
                                    <p class="card__price-value"><%= tutor.location %></p>
                                </div>
                                <a href="/tutors/<%= tutor._id %>" class="btn btn--white">View Profile</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </ul>
        </div>

    <% } else { %>
        <div class="students-show__feedback">
            <div class="show__title">
                <h2>Feedback</h2>
            </div>

            <div id="feedback" class="feedback">
                <ul>
                    <% student.feedback.forEach( (comment, index) => { %>
                        <li><%= index + 1 %>.  <%= comment.content %></li>
                    <% }); %>
                </ul>
            </div>
            <form action="/students/<%= student._id %>/comments" method="POST">
                <!--<select name="rating">
                    <option value="1">1 pencil (worst)</option>
                    <option value="2">2 pencils</option>
                    <option value="3">3 pencils (best)</option>
                </select>-->
                <input type="text" name="content" placeholder="Enter Comment Here">
                <button type="submit" class="btn">Submit Comment</button>
            </form>
        </div>
    <% } %>
</main> 

<%- include('../partials/maps.ejs', {
    zip: student.location
}) %>

<%- include('../partials/footer.ejs') %>