<%- include('../partials/header.ejs', { 
    title: `${tutor.name}'s Edit Page`
}); %>

<nav>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>
    
        <div class="navigation__background">&nbsp;</div>
    
        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="/" class="navigation__link"><span>01</span>About TutorMe</a></li>
                <li class="navigation__item"><a href="/tutors/<%= tutor._id %>" class="navigation__link"><span>02</span>My Profile</a></li>
                <li class="navigation__item"><a href="/tutors/<%= tutor._id %>/#students" class="navigation__link"><span>03</span>My Students</a></li>
                <li class="navigation__item"><a href="/students" class="navigation__link index__login--btn"><span>04</span>Student Search</a></li>
                <li class="navigation__item"><a href="/auth/logout" class="navigation__link index__register--btn"><span>05</span>LogOut</a></li>
            </ul>
        </nav>
    </div>
</nav>
</header>

<main>
    <h1><%= tutor.name %>'s Edit Page</h1>

    <h3>Edit</h3>
        <form action="/auth/registration" method="POST" accept-charset="etf-8">
        Account Type*: <select name="account">
            <option value="Tutor">Tutor</option>
            <option value="Student">Student</option>
        </select>
        Name*: <input type="text" name="name" value="<%= tutor.name %>"><br>
        Email*: <input type="email" name="email" value="<%= tutor.email %>"><br>
        Password*: <input type="password" name="password"><br>
        Rate*: <input type="number" name="rate" value="<%= tutor.rate %>"><br>
        Payment Info*: <input type="text" name="paymentInfo" value="<%= tutor.paymentInfo %>"><br>
        Location*: <input type="number" name="location" value="<%= tutor.location %>"><br>
        <button type="submit">Edit <%= tutor.name %></button>
    </form>
</main>

<%- include('../partials/footer.ejs') %>