<%- include('../partials/header.ejs', { 
    title: `${tutor.name}'s Edit Page`
}); %>

<main class="tutors-edit">
    <h1><%= tutor.name %>'s Edit Page</h1>

    <form action="/tutors/<%= tutor._id %>?_method=PUT" method="POST" accept-charset="etf-8">
        Account Type*: <%= tutor.account %><br>
        Name*: <input type="text" name="name" value="<%= tutor.name %>"><br>
        Email*: <input type="email" name="email" value="<%= tutor.email %>"><br>
        Password*: <input type="password" name="password"><br>
        Rate*: <input type="number" name="rate" value="<%= tutor.rate %>"><br>
        Payment Info*: <input type="text" name="paymentInfo" value="<%= tutor.paymentInfo %>"><br>
        Location*: <input type="number" name="location" value="<%= tutor.location %>"><br>
        Profile Picture URL: <input type="text" name="profilePicture" value="<%= tutor.profilePicture %>"><br>
        Subjects: <input type="text" name="subjects" value="<%= tutor.subjects %>"><br>
        Description: <input type="text" name="description" value="<%= tutor.description %>"><br>
        <button type="submit" class="btn">Edit <%= tutor.name %></button>
    </form>
</main>

<%- include('../partials/footer.ejs') %>