<%- include('../partials/header.ejs', { 
    title: `${tutor.name}'s Show Page`
}); %>

<main class="tutors-show">
    <div class="card tutors-show__card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--1">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1"><%= tutor.name %></span>
            </h4>
            <div class="card__details">
                <ul>
                    <li>Email: <%= tutor.email %></li>
                    <li>Location: <%= tutor.location %></li>
                    <li><%= tutor.description %></li>
                </ul>
            </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
            <div class="card__cta">
                <div class="card__price-box">
                    <p class="card__price-only">Only</p>
                    <p class="card__price-value">$<%= tutor.rate %> / hr</p>
                </div>

                <% if (`${currentUser._id}` === `${tutor._id}`) { %>
                    <a href="/tutors/<%= tutor._id %>/edit" class="btn btn--white">Edit Page</a>
                <% } else { %>
                    <a href="mailto:<%= tutor.email %>?Subject=Interested%20in%20tutoring?" class="btn btn--white">Contact</a>
                <% } %>
            </div>
        </div>
    </div>

    <div id="stats" class="tutors-show__stats">
        <div class="show__title"><h2>Stats</h2></div>
        <b># Students:</b> <%= tutor.students.length %><br>
        <b>Ratings:</b> <%= tutor.rating %><br>
        <b>Subjects Taught:</b> <%= tutor.subjects %><br>
        <b>Member Since:</b> <%= tutor.memberSince %><br>
        <b>Location:</b>
        <div id="map"></div>
    </div>

    <div id="schedule" class="tutors-show__schedule">
        <div class="show__title"><h2>Schedule</h2></div>
        Schedule API here?
    </div>

    <% if (`${currentUser._id}` === `${tutor._id}`) { %>
        <div id="students" class="tutors-show__current-students">
            <div class="show__title"><h2>Current Students</h2></div>
            <% tutor.students.forEach( student => {%>

            <% }); %>
        </div>

    <% } else { %>
        <div class="tutors-show__feedback">
            <div class="show__title"><h2>Feedback</h2></div>
            <ul>
                <% tutor.feedback.forEach( (comment, index) => {%>
                    <li><%= index, comment %></li>
                <% }); %>
            </ul>
        </div>
    <% } %>

    <script>
        let zipCode = <%= tutor.location %>;
        let map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
            });
            let geocoder = new google.maps.Geocoder();
    
            geocoder.geocode({'address': zipCode.toString()}, (results, status) => {
                if (status === 'OK') {
                    map.setCenter(results[0].geometry.location);
                    let market = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                }
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyL-Q5BmqKW7KTBbNXkpk2SpZCroN30D0&callback=initMap"
    async defer></script>
</main> 

<%- include('../partials/footer.ejs') %>