<%- include('../partials/header.ejs', { 
    title: `${tutor.name}'s Show Page`
}); %>


<main>
    <h1><%= tutor.name %>'s Show Page</h1>

    <ul>
        <li><%= tutor.name %></li>
        <li><%= tutor.email %></li>
        <li><%= tutor.rate %></li>
        <li><%= tutor.location %></li>
    </ul>
</main> 

<%- include('../partials/footer.ejs') %>